
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="col">
          <h2>Nombramientos</h2>
        </div>

        <div class="col">
          <div class="input-group">

            <input type="text" class="form-control" name="buscar" [(ngModel)]="buscar" placeholder="Buscar...">

            <div class="input-group-prepend">
                <span class="input-group-text color-icon text-light" id="basic-addon1">
                  <i class="fa fa-search"></i>
                </span>
            </div>

            <div class="input-group-btn search-panel dropdownboxClass">
              <select class='form-control' title="Seleccionar opción de busqueda"  required [(ngModel)]='opcionSeleccionada'>
                <option class='opcion  bg-light text-dark'  *ngFor='let opcion of opciones' [value]="opcion">{{opcion}}</option>
              </select>
            </div>
          </div>
        </div>

      </nb-card-header>

      <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>

        <table class="table">
          <tr>
            <th>Código</th>
            <th>Puesto Ocupado</th>
            <th>Nombre Funcionario</th>
            <th>Cédula</th>
            <th>Tiempo Laboral</th>
            <th>Tipo</th>
            <th *ngIf="this.tipoPermisoUsuario == 6">Acción</th>
          </tr>

          <tr *ngFor="let puesto of nombramientos| filtro:buscar:opcionSeleccionada | paginate: { itemsPerPage: 6, currentPage: p }">
            <td>{{puesto.id}}</td>
            <td>{{puesto.nombre_puesto}}</td>
            <td>{{puesto.nombre_funcionario}}</td>
            <td>{{puesto.cedula}}</td>
            <td>{{puesto.tiempo}}</td>
            <td>{{puesto.tipo}}</td>
            <td *ngIf="this.tipoPermisoUsuario == 6">
              <div class="btn-group">
                <button class="btn btn-primary"  title="Modificar nombramiento" (click)="abrirModal(puesto,puesto.id)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger"  title="Eliminar nombramiento" (click)="openWindowCustomClass(content, puesto.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </nb-card-body>
      <nb-card-footer>
        <pagination-controls class="my-pagination pagination justify-content-center" maxSize="9" (pageChange)="p = $event" autoHide="true"
                             previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </nb-card-footer>
    </nb-card>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">¡Atención!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>¡Esta a punto de eliminar un nombramiento. ¿Esta seguro?</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Cancel click')">Cancelar</button>

    <button type="button" class="btn btn-danger" (click)=eliminarOficial() placement="top"
            (click)="c('Cancel click')">Eliminar</button>

  </div>
</ng-template>

<toaster-container [toasterconfig]="config"></toaster-container>
